.back{
    width:100%;
    height:400px;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}

.font-menu{
    font-size:50px;
}

.animate{
    width:100%;
    height:100%;
    transition:0.5s;
}

.logo{
    width:70px;
    height:70px;
}

.mt-long{
    margin-top:170px;
}
